h1[name="hatMath"]{
  text-align: center;
  width: 50%;
  padding-top: 0.6em;
}
div > a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
div > a{
  width: 9em;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-right: 3px solid #034159;
  border-bottom: 3px solid #034159;
  border-left: 0;
  border-top: 0;
  color: black;
}
label[name="salirSesion"]{
  font-size: 1.4em;
}

#cabecera{
  display: flex;
  height: 8em;
}
#barraNavegacion{
  margin-top: 2em;
  margin-right: 9em;
  display: flex;
  height: 3em;
  justify-content: space-around;
  width: 50%;
  font-size: 1.1em;
}
#ex1 a{
  color: red;
  border: none;
  font-size: 1.6em;
}
