h1[name="hatMath"]{
  text-align: center;
  width: 50%;
  height: 2.7em;
  padding-top: 1.5em;
}
div > a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
div > a{
  width: 9em;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-right: 3px solid #034159;
  border-bottom: 3px solid #034159;
  border-left: 0;
  border-top: 0;
  color: black;
}

#cabecera{
  display: flex;
}
#barraNavegacion{
  margin-top: 3em;
  margin-right: 9em;
  display: flex;
  height: 3em;
  justify-content: space-around;
  width: 50%;
  font-size: 1.1em;
}
