@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
header{
  width: 30%;
  height: 4em;
  margin: 0 auto;
  background: #034159;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#niveles{
  display: flex;
  margin-top: 2em;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}

#botonNivel1{
  background: #3498DB;
  width: 25%;
  height: 13em;
  border-radius: 25px;
  border: 0;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
#botonNivel2{
  background: #1ABC9C;
  width: 25%;
  height: 13em;
  border-radius: 25px;
  border: 0;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#botonNivel3{
  background: #E74C3C;
  width: 25%;
  height: 13em;
  border-radius: 25px;
  border: 0;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
