body{
  margin: 0 auto;
  padding: 0;
  width: 70%;
}
h1{
  text-align: center;
  margin: 1em 0;
  height: 1.7em;
  border-bottom: 1px solid #0003;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  border: 0.7px solid gray;
  border-radius: 10px;
  width: 15em;
  height: 14em;
  font-size: 1.7em;
}
label{
  padding: 1em 2em;
  align-self: flex-start;
}
form > input{
  border-radius: 10px;
  height: 2.2em;
  width: 17em;
  border: 0.7px solid gray;
  color: black;
  background: #0211;
  font-size: 0.7em;
  text-align: center;
}

#login{
  margin: 0.4em auto 0 auto;
  border-radius: 15px;
  width: 9em;
  height: 4em;
  padding-left: 5em;
  box-shadow:
         inset 0 -2em 2em rgba(0,0,0,0.1),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}
#credenciales{
  display: flex;
  flex-direction: column;
}
#botonEnviar{
  width: 10em;
  height: 2.7em;
  margin-top: 1em;
  font-size: 0.7em;
  border-radius: 10px;
  border: 1px solid #034159;
  color: #034159;
}
#botonEnviar:hover{
  background: #034159;
  border: none;
  color: white;
}
