/*[> pretty radio <]*/
label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
label > input[type="radio"]:checked + * {
  color: teal;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}

/*[> basic layout <]*/
fieldset {
  margin: 2em auto;
  width: 20em;
  font-size: 1.4em;
}
label > input[type="radio"] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}
p{
  width: 70%;
  height: 2em;
  font-size: 1.3em;
  padding: 2em 4em;
  margin: 0 auto;
  background: #FADBD8;
}
img{
  margin: 1em auto;
  display: block;
}
section{
  width: 70%;
  margin: 0 auto;
  /*border: 1px solid gray;*/
}
input[name="botonEnviar"]{
  position: absolute;
  left: 43%;
  width: 10em;
  height: 3em;
  font-size: 1.2em;
  border: 1px solid #E74C3C;
  border-radius: 10px;
  color: #E74C3C;
  cursor: pointer;
  background: white;
}
input[name="botonEnviar"]:hover{
  background: #E74C3C;
  color: white;
  border: none;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
form a{
  font-size: 1.7em;
  margin: 1em auto;
}
div > a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
div > a{
  border-right: 3px solid #034159;
  border-bottom: 3px solid #034159;
  width: 8em;
  color: black;
  text-align: center;
}

#nivel3{
  text-align: center;
  font-size: 3em;
  color: #E74C3C;
}
