section{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
table{
  height: 20em;
  font-size: 1.2em;
}
tr:before{
    content: "";
    position: absolute;
    margin-top: 1.9em;
    width: 23em;
    height: 1em;
    border-bottom: 1px solid #0001;
}
td, th{
  padding: 1em 3em;
}
th{
  color: #034159;
}
h2{
  margin: 0 auto;
  color: #034159;
}
h2:before{
  position: absolute;
  content: "";
  right: 44%;
  margin-top: 1em;
  width: 12%;
  height: 10px;
  /*border-bottom: 1px solid #0001;*/
}
img[title="Usuario"]{
  width: 60%;
  margin: 0em auto 0 auto;
}

#experiencia{
  margin: 1em auto;
  font-size: 20px;
  width: 3.5em;
  color: #034159;
}
#experiencia:before{
  position: absolute;
  content: "";
  right: 44%;
  margin-top: 1em;
  width: 12%;
  height: 10px;
  /*border-bottom: 1px solid #0001;*/
}
#tituloNivel{
  margin-left: auto;
  margin-right: auto;
  color: #0FC2C0;
}
#tituloNivel:before{
  position: absolute;
  content: "";
  right: 44%;
  margin-top: 1em;
  width: 12%;
  height: 10px;
  /*border-bottom: 1px solid #0001;*/
}
#recuadroExterior{
  border: 1px solid #034159;
  width: 350px;
  height: 31em;
  border-radius: 10px;
}
#recuadroInterior{
  margin: 1.5em;
  border: 2px solid #034159;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  height: 28em;
}

#progreso{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7em;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #AED6F1;
}
#barraProgreso{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #3498DB;
  height: 1.2em;
  background: #5DADE2;
}
#textoBarra{
  /*position: absolute;*/
  /*left: 49.5%;*/
  color: black;
  font-size: 1.1em;
}
