h2{
  margin: 20px auto;
}
img[title="Usuario"]{
  width: 60%;
  margin: 0 auto;
}
#recuadroExterior{
  margin: 4em auto;
  border: 1px solid #034159;
  width: 350px;
  height: 41em;
  border-radius: 10px;
}
#recuadroInterior{
  margin: 25px;
  border: 2px solid #034159;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 600px;
}
#exp{
  margin: 20px 5em;
  font-size: 20px;
  width: 200px;
}
input[alt="botonEnviar"]{
  width: 150px;
  height: 50px;
  font-size: 14px;
  margin: 50px 100px;
  background: white;
  border: 1px solid #034159;
  border-radius: 25px;
}
