h2{
  margin: 0 auto;
  color: #0FC2C0;
}
img[title="Usuario"]{
  width: 60%;
  margin: 0em auto 0 auto;
}

#experiencia{
  margin: 0 auto;
  font-size: 20px;
  width: 3.5em;
}
#tituloNivel{
  margin-left: auto;
  margin-right: auto;
  color: #0FC2C0;
}
#recuadroExterior{
  margin: 1em auto;
  border: 1px solid #034159;
  width: 350px;
  height: 31em;
  border-radius: 10px;
}
#recuadroInterior{
  margin: 1.5em;
  border: 2px solid #034159;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 28em;
}

#progreso{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #AED6F1;
}
#barraProgreso{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #3498DB;
  height: 1.2em;
  background: #5DADE2;
}
#textoBarra{
  position: absolute;
  left: 49.5%;
  color: black;
  font-size: 1.1em;
}
