@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
section{
  margin: 15em auto 0 auto;
  width: 25em;
  height: 25em;
  border: 1px solid cyan;
  display: flex;
  background: white;
  flex-direction: row;
  justify-content: space-around;
  border-top: 4px solid #034159;
  border-left: 4px solid #034159;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 35px 35px darkcyan;
}
label{
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.ladoIzq{
  border-bottom: 2px solid #0001;
}
.ladoDer{
  width: 5em;
  border-bottom: 2px solid #0001;
  color: #0FC2C0;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
a{
  margin-top: 3em;
  position: absolute;
  left: 45%;
  background: #034159;
  width: 10em;
  padding: 1em;
  padding-right: 0;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  color: white;
}

